body{
    color: aliceblue;
    background-color: #212121;
}

.accordian_title{
    display: flex;
    align-items: center;

}

.accordian_item{
    border: 1px solid aliceblue;
    padding: 10px;
}

.accordian_title h3{
    flex: 1;
}

.accordian_content{
    display: none;
}

.accordian_title.active + .accordian_content{
    display: block;
}

.accordian_title.active i{
   transform: rotate(180deg);
}

.accordian_content p {
    font-size: 22px;
}

.container h1{
    font-weight: bolder;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}